<launch>
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find stereo_image_proc)/rviz/slam_hardware.rviz" />

  <node pkg="stereo_image_proc" type="online_ICP_slam_v0" name="ICP_SLAM"/>

  <node pkg="tf" type="static_transform_publisher" name="world2map" args="0 0 0 0 0 -1.5708 world map 100" />

  <include file="$(find freenect_launch)/launch/examples/freenect-registered-xyzrgb.launch" />

</launch>
